.formWrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 90%;
    background: #282a36;
    border-radius: 30px;
    margin: 20px;
    margin-left: auto;
    transition: all 0.5s ease-out;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputBox {
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
    width: 70vh;
}



.asideLeft {
    background: #1e2121;
    padding: 16px;
    color: #fff;
    display: flex;
    width: 20vw;
    flex-direction: column;
}

.asideLeftInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.client {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-top: 10px;
    gap: 5px;
}

.seLang{
    border: none;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align-last: center;
}

.language-dropdown{
    margin: 10px;
    width: 40%;
}

.CodeMirror {
    height: 90%;
    width: 90%;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
}

