.homePageWrapper {
    color: aliceblue;
    height: 100vh;
    align-items: center;
    
}

.background1img {
    height: 100px;
    width: 100px;
}

.background4 {
    /*width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    background: #282a36;
    border-radius: 30px;
    margin: 20px;
    transition: all 0.5s ease-out;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.name {
    font-style: bold;
    font-weight: bolder;
}

h1 {
    font-size: 35px;
}

.background4img {
    width: 200px;
    height: 200px;
    align-items: center;
}

.formWrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 90%;
    background: #282a36;
    border-radius: 30px;
    margin: 20px;
    margin-left: auto;
    transition: all 0.5s ease-out;
}

.formWrapper:hover {
    background: rgb(32,33,36);
}

.background3img {
    width: 90%;
    height: 20%;
    align-items: center;
    margin: 1%;
    margin-left: 4%;
    border-radius: 15px;
    margin-bottom: 4%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 20px;
}

.homePageLogo {
    height: 200px;
    width: 350px;
    margin-bottom: 10px;
}

.inputBox {
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
    width: 70vh;
}

h3{
    margin: 0 auto;
    margin-top: 20px;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;

}

.joinBtn {
    background: #4aed88;
    width: 100px;
    margin-left: auto;

}

.joinBtn:hover {
    background: #2b824c;
}

.createInfo {
    margin: 0 auto;
    margin-bottom: 10px;
}

.createNewBtn {
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all 0.3s ease-in-out;

}

.createNewBtn:hover {
    color: #2b824c;
    border-color: #2b824c;
}

.mainWrap {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}


.asideLeft {
    background: #1e2121;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.asideLeftInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.client {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-top: 10px;
    gap: 5px;
}

.seLang{
    border: none;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align-last: center;
}


.logo {
    border-bottom: 1px solid #121212;
    padding-bottom: 10px;
}

.editorPageLogo {
    height: 20vh;
}

.leaveBtn {
    margin-top: 10px;
    background: #4aed88;
}

.copyBtn {
    background: #4aed88;
}

.leaveBtn:hover , .copyBtn:hover {
    background: #2b824c;
}

.language-dropdown{
    margin: 10px;
    width: 40%;
}

.CodeMirror {
    height: 90%;
    width: 90%;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
}

